body{
    font-family: 'Roboto Mono', monospace;
    background: hsl(185, 41%, 84%);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.title{
    margin-top: 90px;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
}
.main-content{
    margin-top: 50px;
    background: white;
    width: 60%;
    height: 380px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    flex-wrap: wrap;

}

    
.bill-input{
    outline: none;
    border: none;
    background: rgb(234, 234, 255);
    padding: 10px;
    width: 40%;
    border-radius: 3px;
    text-align: right;
    font-size: 24px;
    margin-top: 5px;
}
.bill-input:hover{
    border: solid 2px hsl(172, 67%, 45%);
    border-radius: 5px;

}
.bill-input::placeholder{
    float: right;
}
.bill-title, .num-title{
    color: rgba(0, 0, 0, 0.6);
}
.main-input{
    position: relative;
}
.currency-code{
    position:absolute;
    color: grey;
    top: 30px;
    left: 15px;
}

.tips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 45%;
}
.tips-title{
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 360px;
}
.tip{
    color: white;
    background: hsl(183, 100%, 15%);
    border: 2px solid hsl(183, 100%, 15%);
    font-size: 24px;
    border-radius: 5px;
    margin-right: 10px;
    width: 30%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.custom{
    background: rgb(234, 234, 255);
    color: hsl(183, 100%, 15%);
    border: rgb(234, 234, 255);
    font-size: 24px;
    border-radius: 5px;
    margin-right: 10px;
    width: 25%;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.custom::placeholder{
    color: hsl(183, 100%, 15%);
}
.tip:hover{
    background: hsl(172, 67%, 45%);
    border: hsl(172, 67%, 45%);
}
.person{
    position: absolute;
    top: 5px;
    left: 15px ;

}
.number-of-people-input{
    outline: none;
    border: none;
    background: rgb(234, 234, 255);
    padding: 10px;
    width: 40%;
    border-radius: 3px;
    text-align: right;
    font-size: 24px;
    margin-top: 5px;
}

.number-of-people-input:hover{
    border: solid 2px hsl(172, 67%, 45%);
    border-radius: 5px;

}
.number-of-people-input.active{
    border:  solid 2px red;
}
.number-of-people-input::placeholder{
    float: right;
}
.num-pip-area{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.number-of-people{
    position: relative;
}


.display-amount{
    width: 45%;
    height: 330px;
    background: hsl(183, 100%, 15%);
    color: white;
    padding: 20px;
    border-radius: 20px;
    transform: translate(100%, -98%);
    border: 1px solid hsl(183, 100%, 15%);
}

.reset-btn{
    color: hsl(183, 100%, 15%);
    background: hsl(183, 98%, 22%);
    border:  hsl(183, 98%, 22%);
    border-radius: 5px;
    font-size: 24px;
    margin-top: 130px;
    width: 90%;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.reset-btn:hover{
    background: hsl(172, 67%, 45%);
    border: hsl(172, 67%, 45%);
}

.display-tip-amount, .display-total-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tip-title-p{
    color: hsl(183, 98%, 22%);
    margin-top: -10px;
}
.tip-amount, .total-amount{
    font-size: 2.8rem;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}
.bill-area{
    display: flex;
    flex-direction: column;
}
.zero{
    color: red;
    margin-left: 40px;
    opacity: 0 ;
}
.zero.active{
    opacity: 1;
}

/*FOR MOBILE DEVICES*/

@media (max-width: 375px){
    body{
        font-family: 'Roboto Mono', monospace;
        background: hsl(185, 41%, 84%);
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .title{
        margin-top: 90px;
        font-size: 1.5rem;
        color: hsl(183, 100%, 15%);
    }
    .main-content{
        margin-top: 50px;
        background: white;
        width: 95%;
        height: 750px;
        border: 2px solid white;
        border-radius: 20px;
        padding: 30px;
        flex-wrap: wrap;

    }

        
    .bill-input{
        outline: none;
        border: none;
        background: rgb(234, 234, 255);
        padding: 10px;
        width: 90%;
        border-radius: 3px;
        text-align: right;
        font-size: 24px;
        margin-top: 5px;
    }
    .bill-input:hover{
        border: solid 2px hsl(172, 67%, 45%);
        border-radius: 5px;

    }
    .bill-input::placeholder{
        float: right;
    }
    .bill-title, .num-title{
        color: rgba(0, 0, 0, 0.6);
    }
    .main-input{
        position: relative;
    }
    .currency-code{
        position:absolute;
        color: grey;
        top: 30px;
        left: 15px;
    }

    .tips{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 60px;
        width: 90%;
    }
    .tips-title{
        color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 360px;
    }
    .tip{
        color: white;
        background: hsl(183, 100%, 15%);
        border: 2px solid hsl(183, 100%, 15%);
        font-size: 24px;
        border-radius: 5px;
        margin-right: 10px;
        width: 45%;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    .custom{
        background: rgb(234, 234, 255);
        color: hsl(183, 100%, 15%);
        border: rgb(234, 234, 255);
        font-size: 24px;
        border-radius: 5px;
        margin-right: 10px;
        width: 40%;
        text-align: right;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    .custom::placeholder{
        color: hsl(183, 100%, 15%);
    }
    .tip:hover{
        background: hsl(172, 67%, 45%);
        border: hsl(172, 67%, 45%);
    }
    .person{
        position: absolute;
        top: 5px;
        left: 15px ;

    }
    .number-of-people-input{
        outline: none;
        border: none;
        background: rgb(234, 234, 255);
        padding: 10px;
        width: 90%;
        border-radius: 3px;
        text-align: right;
        font-size: 24px;
        margin-top: 5px;
    }
    .number-of-people-input:hover{
        border: solid 2px hsl(172, 67%, 45%);
        border-radius: 5px;

    }
    .number-of-people-input::placeholder{
        float: right;
    }
    .num-pip-area{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .number-of-people{
        position: relative;
    }


    .display-amount{
        width: 90%;
        height: 230px;
        background: hsl(183, 100%, 15%);
        color: white;
        padding: 20px;
        border-radius: 20px;
        transform: translate(0%, 10%);
        border: 1px solid hsl(183, 100%, 15%);
    }

    .reset-btn{
        color: hsl(183, 100%, 15%);
        background: hsl(183, 98%, 22%);
        border:  hsl(183, 98%, 22%);
        border-radius: 5px;
        font-size: 24px;
        margin-top: 40px;
        width: 90%;
        padding: 5px;
        margin-left: 20px;
        cursor: pointer;
    }
    .reset-btn:hover{
        background: hsl(172, 67%, 45%);
        border: hsl(172, 67%, 45%);
    }

    .display-tip-amount, .display-total-amount{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .tip-title-p{
        color: hsl(183, 98%, 22%);
        margin-top: -10px;
    }
    .tip-amount, .total-amount{
        font-size: 2.8rem;
        font-weight: bold;
        color: hsl(172, 67%, 45%);
    }
    .bill-area{
        display: flex;
        flex-direction: column;
    }
}